<div class="banner">
  <div class="container">
    <h1><strong>Restaurants</strong></h1>
    <p>Find the new best places around.</p>
  </div>
</div>

<ul class="list-unstyled">
  <% @restaurants.each do |restaurant| %>
  <div class="row">
    <div class="column">
      <div class="card">
        <p>
          <li><%= link_to restaurant.name, restaurant_path(restaurant), :class=>"card-text text-decoration-none" %></li>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</ul>
